<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>connectedcomponents.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>graphlab_als.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>matrixfact_als_edgefactors.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>pagerank.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>sharder_basic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>streaming_pagerank.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>test_bulksync_functional.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>test_smoketest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>trianglecounting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F56F712159B78BF00423ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F8DD040159DDABC0034C889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FB782E6159D268500816BDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FCC1D0E159501720003D0E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FCC1ECC159A03DD0003D0E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FCC2128159DF1F20003D0E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FCC22A015A1EFA30003D0E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FCC242C15A378E70003D0E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DD76F620486A84900D96B5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
